<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9xSKFX88eJx39IWZauubS-wpqmB0jWGI</string>
	<key>GCM_SENDER_ID</key>
	<string>940829537826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sixteen.user.sixteen.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>six-teen</string>
	<key>STORAGE_BUCKET</key>
	<string>six-teen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940829537826:ios:4cf8db4812314c864cfc7b</string>
</dict>
</plist>